<!-- extend from base layout -->
{% extends "layout.html" %}

{% block content %}
  <h1>Sign In</h1>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>Email:{{form.email(size=30)}}</p>
      <p>Senha:{{form.password(size=30)}}</p>
      <p><input type="submit" value="Sign In"></p>
  </form>

  {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
{% endblock %}